.cart {
  justify-content: center;
  display: flex;
  height: max-content;
  padding: 20px 20px 0 20px;
  gap: 2px ;
  
}

.cart_left {
  padding: 20px;
  width: 100%;

}

.cart_left h3 {

  padding-top: 10px;
  font-size: 32px;
}

.cart_title {
  margin-right: 10px;
  padding: 10px;
  

}


@media(max-width: 800px) {
  .cart {
    flex-direction: column-reverse;
    margin: unset;
  }

  .cart_left {
    width: calc(100% - 40px);
  }
}