.cartItem {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 20px;
}

.cartItem:last-child {
  border-bottom: none;
}

.cartItem_info {
  padding-left: 20px;
}

.cartItem_info>button {
  border: unset;
  margin-top: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.cartItem_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.cartItem_title {
  font-size: 20px;
  font-weight: 450;
}

.cartItem_price {
  font-size: 20px;
  line-height: 35px;
}

.cartItem_incrDec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100px;
}

.cartItem_incrDec button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  border: none;
  border-radius: 100px;
}

.cartItem_incrDec button:hover {
  box-shadow: 0 2px 2px gray;
}

.cartItem_incrDec button:active {
  box-shadow: unset;
}

.cartItem_removeButton {
  color: rgb(241, 131, 131);
}

.cartItem_removeButton:hover {
  color: rgb(243, 92, 92);
}

.cartItem_removeButton:active {
  color: rgb(241, 131, 131);
}

@media(max-width: 1000px) {

  .cartItem_title {
    font-size: 18px;
  }

  .cartItem_price {
    font-size: 18px;
  }
}

@media(max-width:400px) {
  .cartItem {
    flex-direction: column;
  }

  .cartItem_title {
    margin-top: 15px;
  }
}