Nav {
    color: white;
    background-color: #dc56;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.Logo {
    background-color: #dcdcdc;
    border-radius: 1rem;

}