.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  height: 110px;
  
  border-radius: 3px;
  min-width: 350px;
}

.total>h2 {
  padding-top: 30px;
}




.total>button:active {
  background-color: unset;
  border: 1px solid #FFD814;
}

@media(max-width:800px) {
  .total {
    width: unset;
    text-align: center;
  }
}

@media(max-width:900px) {
  .total {
    min-width: unset;
  }
}